<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./public/favicon.ico" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/main.css">
    <link rel="stylesheet" href="./public/css/bs.css">
    <title>CarPop - Inicio</title>
</head>
<body>

    <header><%- include('../vista/nav.ejs'); %></header>

    <!-- Introduccion -->
    <section class="bg-dark text-light p-5 text-center text-sm-start align-items-center mt-5">
        <div class="container">
            <div class="d-sm-flex justify-content-sm-evenly">
                <div class="mb-3 mb-sm-0 anim-transparencia">
                    <h2 class="text-primary">¿A dónde te apetece ir?</h2>
                    <p class="my-3">¿A la playa? ¿A la montaña? ¿O mejor a la biblioteca? <br> No importa. Alquila un coche ahora y hazlo realidad.</p>
                    <button class="btn btn-primary border-0 me-1" type="button">Inicia sesión</button>
                    <button class="btn btn-primary border-0" type="button">Regístrate</button>
                </div>
                <img src="./public/img/undraw_co/inicio_driver.svg" alt="(imágen) Mujer subiendo a un coche" class="img-fluid w-50 d-sm-block" draggable="false">
            </div>
        </div>
    </section>

    <!-- Cajas -->
    <section class="m-5">
        <div class="container px-4 p-md-4">
            <div class="row equal text-center gx-5">
                <div class="col-md">
                    <div class="my-5 my-md-0 p-md-3 " style="height: 100%; width: 100%;">
                        <div class="h4 text-dark">Regístrate</div>
                        <hr>
                        <p class="text-dark">Regístrate en nuestra plataforma para tener a tu alcance miles de coches. <br> No olvides leer nuestras normas</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="my-5 my-md-0 p-md-3 " style="height: 100%; width: 100%;">
                        <div class="h4 text-dark">Encuentra el coche ideal</div>
                        <hr>
                        <p class="text-dark">Busca el vehículo que más se ajuste a tus necesidades entre miles de anuncios que publican nuestros usuarios</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="my-5 my-md-0 p-md-3 " style="height: 100%; width: 100%;">
                        <div class="h4 text-dark">Resérvalo</div>
                        <hr>
                        <p class="text-dark">Ponte en contacto con el dueño y házte con el vehículo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-2">
        <div class="container bg-primary border border-primary rounded-3">
            <div class="row p-sm-3">
                <div class="col-md-4 text-center align-self-center">
                    <img src="./public/img/undraw_co/upload_dark.svg" alt="" srcset="" class="d-none img-fluid d-md-inline">
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="row">
                        <div class="h3 text-dark pt-4 p-sm-2 text-center">Alquila tu coche y gana dinero</div>
                    </div>
                    <div class="row py-4">
                        <p class="text-dark text-center">¿Tienes un coche que no usas mucho? Anúncialo en nuestra plataforma y gana dinero.</p>
                        <ul class="list-group-flush list-group-numbered">
                            <li class="list-group-item text-dark">
                                Regístrate
                            </li>
                            <li class="list-group-item text-dark">
                                Lee y acepta nuestras normas y condiciones
                            </li>
                            <li class="list-group-item text-dark">
                                Prepara el vehículo
                            </li>
                            <li class="list-group-item text-dark">
                                Publica un anuncio
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Botón ir arriba -->
    <script src="./public/script/ir_arriba.js"></script>

    <!-- Paleta Nueva https://coolors.co/051014-fffafb-7de2d1-339989-2e2f2f -->
    <!-- <script src="https://coolors.co/palette-widget/widget.js"></script> 
    <script data-id="09999166643968942">new CoolorsPaletteWidget("09999166643968942", ["051014","fffafb","7de2d1","339989","2e2f2f"]); </script>-->

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>