
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-2 fixed-top">
    <div class="container">
        <a href="index.php" class="navbar-brand">CarPop</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-between" id="navmenu">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="./alquilar.php" class="nav-link">Alquilar</a>
                </li>
                <li class="navbar-item">
                    <a href="./crear_anuncio.php" class="nav-link">Crear anuncio</a>
                </li>
                <li class="navbar-item">
                    <!-- Desplegable ayuda -->
                    <div class="dropdown">
                        <a href="#" id="nav-ayuda" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ayuda</a>
                        <ul class="dropdown-menu bg-dark navbar-dark shadow p-3 mb-5 bg-body rounded border border-primary" aria-labelledby="nav-ayuda">
                            <li class="dropdown-item">
                                <a href="ayuda.php#ayuda-comoFunciona" class="nav-link">Como funciona</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="ayuda.php#ayuda-normasUso" class="nav-link">Normas de uso</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="ayuda.php#ayuda-preguntasFrecuentes" class="nav-link">Preguntas frecuentes</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="ayuda.php#ayuda-contacto" class="nav-link">Contáctanos</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="iniciar_sesion.php" class="nav-link">Iniciar sesión</a>
                </li>
                <li class="navbar-text d-none d-md-block">
                    |
                </li>
                <li class="navbar-item">
                    <a href="registrarse.php" class="nav-link">Registrarse</a>
                </li>
            </ul>   
        </div>
    </div>
</nav>

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.php">TMC</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
 -->