<!DOCTYPE html>
<html lang="es">
<%- include('./plantilla/cabecera', {tituloWeb: 'CarPop - Panel administración'}) %>
<body class="bg-info">

    <section class="container-fluid text-center text-sm-start align-items-center">
        <div class="row bg-dark">
            <div class="col">
                <div class="container">
                    <%- include('./plantilla/admin_nav') %> 
                </div>
            </div>
        </div>
        <div class="row m-5 p-5 text-light text-center">
            <div class="col">
                <div class="h3">Panel de Administración</div>
                <img src="/img/logo/carpop_logo2.jpg" class="m-3 border border-4 rounded-circle border-primary" draggable="false">
            </div>
        </div>
    </section>

</body>
</html>