<!DOCTYPE html>
<html lang="es">
<%- include('./plantilla/cabecera', {tituloWeb: 'CarPop - Registro'}) %>
<body class="text-light bg-dark">

    <span>
        <a href="/" class="cerrar-modal h4 fw-bold" style="position: absolute; right: 15px; top: 5px; font-size: 35px;">&times;</a>
    </span>
    <section class="p-2 container-fluid pt-3">
        <div class="col col-md-5 m-auto pt-md-5">
            <form action="/registrarse" method="POST" class="p-3 needs-validation" novalidate>
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <img src="/img/google/register.svg" draggable="false">
                    </div>
                </div>
                <div class="row justify-content-center pb-3 px-2">
                    <div class="col text-center align-self-center">
                        <div class="h3 text-light">Registrarse</div>
                    </div>
                </div>
                <fieldset class="p-2">
                    <div class="form-text text-center">Cuenta</div>
                    <div class="row justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="email" class="form-control" name="correo" id="in-email" placeholder="ejemplo@correo.com" required>
                                <label for="in-email">Correo electrónico</label>
                                <div class="invalid-feedback d-none" id="err-email">
                                    Introduce una dirección de correo válida
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="contrasena" id="in-contrasena" placeholder=" " required>
                                <label for="in-contrasena" class="form-label">Contraseña</label>
                            </div>
                        </div>
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="contrasena2" id="in-contrasena2" placeholder=" " required>
                                <label for="in-contrasena2" class="form-label d-none d-md-block">Confirmar contraseña</label>
                                <label for="in-contrasena2" class="form-label d-block d-md-none">Confirmar contr.</label>
                            </div>
                        </div>
                        <div class="col-auto text-center align-self-center text-dark h-100">
                            <button class="btn btn-block btn-light" id="b-mostrar-contra">
                                <img src="/img/google/visibility.svg" id="img-mostrar-contra">
                            </button>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center p-2 d-none" id="medidor-contra-registro">
                        <div class="col text-center align-self-center text-light">
                            <div class="progress">
                                <div class="progress-bar bg-danger d-none" role="progressbar" style="width: 20%;" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5">Insegura</div>
                                <div class="progress-bar bg-danger d-none" role="progressbar" style="width: 40%;" aria-valuenow="2" aria-valuemin="1" aria-valuemax="5">Insegura</div>
                                <div class="progress-bar bg-warning d-none" role="progressbar" style="width: 60%;" aria-valuenow="3" aria-valuemin="1" aria-valuemax="5">Aceptable</div>
                                <div class="progress-bar bg-success d-none" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="1" aria-valuemax="5">Segura</div>
                                <div class="progress-bar bg-success d-none" role="progressbar" style="width: 100%;" aria-valuenow="5" aria-valuemin="1" aria-valuemax="5">Muy segura</div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center p-2">
                        <div class="col text-center align-self-center text-light">
                            <div class="text-danger d-none" id="err-contrasena">
                                La contraseña introducida debe tener un mínimo de seguridad
                            </div>
                            <div class="text-danger d-none" id="err-contrasena2">
                                Las contraseñas no coinciden
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="p-2">
                    <div class="form-text text-center">Datos personales</div>
                    <div class="row g-3 justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="nombre" id="in-nombre" placeholder="" required>
                                <label for="in-nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="apellido" id="in-apellido" placeholder="" required>
                                <label for="in-apellido">Apellido</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="tel" class="form-control" name="telefono" id="in-telefono" placeholder="" required>
                                <label for="in-telefono">Teléfono</label>
                                <div class="invalid-feedback d-none" id="err-telefono">
                                    El teléfono introducido no es válido
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row g-3 justify-content-center p-2">
                        <div class="col-7 text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="dircalle" id="in-dircalle" placeholder=" " required>
                                <label for="in-calle" class="form-label">Calle</label>
                            </div>
                        </div>
                        <div class="col-2 text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="dirnumero" id="in-dirnumero" placeholder=" " required>
                                <label for="in-dirnumero" class="form-label">Nº</label>
                            </div>
                        </div>
                        <div class="col-3 text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="dircp" id="in-dircp" placeholder=" " required>
                                <label for="in-dircp" class="form-label">CP</label> 
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <select class="form-select" id="lista-provincias">
                                <option selected value="0">Seleccionar provincia</option>
                            </select>
                        </div>
                        <div class="col text-center align-self-center text-dark">
                            <select class="form-select" id="lista-poblaciones" disabled>
                                <option selected value="0">Seleccionar población</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="row g-3 justify-content-center p-2">
                        <div class="col text-center align-self-center text-dark">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="direccion" id="in-direccion" placeholder="" required>
                                <label for="in-direccion">Dirección (Calle, número, localidad, ciudad, código postal)</label>
                                <div class="invalid-feedback d-none" id="err-direccion">
                                    Debes introducir una dirección
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="p-2">
                    <div class="row justify-content-center p-2">
                        <div class="col text-center align-self-center">
                            <button type="submit" class="btn btn-primary w-50 p-3">
                                Registrarse
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <script src="/script/registrarse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>