/*
COLORES
    Primario #7de2d1 / hover #68DECA
    Secundario #68DECA
    Dark #051014 / hover #68DECA
    Light #fffafb
    Info #868c8e / hover rgba(255,255,255,.75)

*/

:root {
    --c-primario: #7de2d1;
    --c-secundario: #68DECA;
    --c-dark: #051014;
    --c-dark-hover: #68DECA;
    --c-light: #fffafb;
    --c-info: #868c8e;
    --c-info-hover: rgba(255,255,255,.75);
}

.text-primary{
    color: var(--c-primario) !important;
}
.text-secondary{
    color: var(--c-secundario) !important;
}
.text-dark{
    color: var(--c-dark) !important;
}
.text-light{
    color: var(--c-light) !important;
}
.text-info{
    color: var(--c-info) !important;
}
.bg-primary{
    background-color: var(--c-primario) !important;
}
.bg-secondary{
    background-color: var(--c-secundario) !important;
}
.bg-dark{
    /* #131515 */
    background-color: var(--c-dark) !important;
}
.bg-light{
    background-color: var(--c-light) !important;
}
.bg-info{
    background-color: rgba(7, 17, 21, 0.919) !important
}

/* LINKS */

.link-primary{
    color: var(--c-primario) !important;
}
.link-secondary{
    color: var(--c-secundario) !important;
}
.link-dark{
    color: var(--c-dark) !important;
}
.link-light{
    color: rgba(255,255,255,.75);
}
.link-info{
    color: rgba(7, 17, 21, 0.919) !important;
}

.link-info:hover{
    color: rgba(7, 17, 21, 0.919) !important;
}
.link-light:hover{
    color: var(--c-light);
}

/* BOTONES */

.border-primary{
    border-color: var(--c-primario) !important;
}
.border-secondary{
    border-color: var(--c-secundario) !important;
}
.border-dark{
    border-color: var(--c-dark) !important;
}
.border-light{
    border-color: var(--c-light) !important;
}
.border-info{
    border-color: var(--c-info) !important;
}
.btn-primary{
    background-color: var(--c-primario) !important;
    color: var(--c-dark) !important;
    border: none !important;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: var(--c-secundario) !important;
    border: none !important;
    font-weight: bold;
}

.dropdown .dropdown-item:hover{
    background-color: transparent !important;
}

/* ANIMACIONES */

.anim-transparencia {
	animation: anim-transparencia 1s ease-in both;
}

.slide-bottom {
	animation: slide-bottom 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s reverse both;
}

 @keyframes anim-transparencia {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: inline;
        opacity: 0;
    }

    100% {
        display: inline;
        opacity: 1;
    }
  }
  
  @keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100px);
    }
  }

.accordion-button{
    background-color: var(--c-dark) !important;
    color: var(--c-light) !important;
}
.accordion-button:not(.collapsed){
    background-color: var(--c-dark) !important;
    color: var(--c-primario) !important;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fffafb'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237de2d1'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}