/**{
    cursor:url(../img/coche.svg),auto !important;
}*/

body{
    background-color: #fffafb !important;
}

select{
    height: 55px;
}

textarea{
    resize: none;
}

/* Sliders */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #7de2d1;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    background: #7de2d1;
    cursor: pointer;
}

/* OCULTAR FLECHAS INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* LOGO NAVBAR */
.logo{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}

/* DESPLEGABLE AYUDA desactivar click en pc */
.dropdown:hover>.dropdown-menu{
    display: block;
}
@media only screen and (min-width: 600px){
    #nav-ayuda{
        pointer-events: none !important;
    }
}

hr{
    background-color: #051014;
}
.hr-light{
    background-color: #fffafb;
}
.hralt{
    background-color: #7de2d1;
}
a{
    text-decoration: none;
}
p,.h1,.h2,.h3{
    font-family: 'Open Sans', sans-serif;
}

/* Lista azul */
.li1{
    background-color: #68DECA;
    color: #051014;
    font-family: 'Open Sans', sans-serif;
}
.li2{
    background-color: #7de2d1;
    color: #051014;
    font-family: 'Open Sans', sans-serif;
}
.list-group-item.li1,.list-group-item.li2{
    border: 0px;
}
/* ayuda.php */
@media only screen and (min-width: 768px){
    .col-alt{
        width: 20%;
    }
}
@media only screen and (min-width: 768px){
    .col-alt2{
        width: 79%;
    }
}

/* BOTON IR ARRIBA */
#bIrArriba {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  border: 1px solid #fffafb0e;
  outline: none;
  background-color: #051014;
  cursor: pointer;
  padding: 13px;
  border-radius: 50%;
  font-size: 12px;
}

#bIrArriba:hover {
  background-color: #68DECA;
}

/* Alquilar.ejs */
.filtros{
    -webkit-box-shadow: 5px 0px 35px 5px rgba(0,0,0,0.6); 
    box-shadow: 5px 0px 35px 5px rgba(0,0,0,0.6);
    position: relative;
    top: -5px;
}

/* Tarjetas */
.tarjeta{
    height: 272px !important;
    background-color: #ffffff;
    border: 1px solid #868c8e8b;
    border-radius: 6px;
}

.tarjeta-titulo{
    height: 50px !important;
    font-size: 130% !important;
    overflow: hidden;
}
.tarjeta-descripcion{
    height: 180px !important;
    font-size: 110% !important;
    overflow: hidden;
}
.tarjeta-pie{
    height: 42px !important;
    background-color: #f7f7f7;
    border-top: 1px solid #868c8e8b;
    border-bottom: 1px solid #868c8e8b;
    border-radius: 0px 0px 6px 0px;
    font-size: 90% !important;
    overflow: hidden;
}

.img404{
    width: 40% !important;
    height: 40% !important;
}
@media only screen and (max-width: 768px){
    .img404{
        width: 90% !important;
        height: 90% !important;
    }
}