
<nav class="navbar navbar-expand-md bg-dark navbar-dark py-2 fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="/img/logo/carpop_logo2.jpg" alt="logo" class="logo" draggable="false"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-between" id="navmenu">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/" class="nav-link">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a href="/anuncios" class="nav-link">Anuncios</a>
                </li>
                <li class="navbar-item">
                    <a href="/crear_anuncio" class="nav-link">Crear anuncio</a>
                </li>
                <li class="navbar-item">
                    <!-- Desplegable ayuda -->
                    <div class="dropdown">
                        <a href="#" id="nav-ayuda" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ayuda</a>
                        <ul class="dropdown-menu bg-dark navbar-dark shadow p-3 mb-5 bg-body rounded border border-primary" aria-labelledby="nav-ayuda">
                            <li class="dropdown-item">
                                <a href="funciona" class="nav-link">Como funciona</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="normas" class="nav-link">Normas de uso</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="preguntas" class="nav-link">Preguntas frecuentes</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="contacto" class="nav-link">Contáctanos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <% if (usuarioAutentificado && usuarioAutentificado.admin) { %>
                    <li class="navbar-item">
                        <a href="/admin" class="nav-link">Administración</a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (autorizado) { %>
                    <li class="navbar-item">
                        <a href="/perfiles/<%= usuarioAutentificado._id %> " class="nav-link"> <%= usuarioAutentificado.nombre+' '+usuarioAutentificado.apellido.substr(0,1)+'.' %> </a>
                    </li>
                    <li class="navbar-item">
                        <a href="/cerrar_sesion" class="nav-link">
                            <img src="/img/google/logout2.svg" alt="">
                        </a>
                    </li>
                <% } else { %>
                    <li class="navbar-item">
                        <a href="iniciar_sesion" class="nav-link">Iniciar sesión</a>
                    </li>
                    <li class="navbar-text d-none d-md-block">
                        |
                    </li>
                    <li class="navbar-item">
                        <a href="registrarse" class="nav-link">Registrarse</a>
                    </li>
                <% } %>
            </ul>   
        </div>
    </div>
</nav>