<footer class="bg-dark p-3 mt-5">
    <div class="row px-5 align-items-center text-center">
        <div class="col text-info opacity-75">
            <ul class="list-group list-group-flush m-0 p-0">
                <li class="list-group-item bg-dark opacity-50 pb-0"><a href="#" class="link-light">Política de privacidad</a></li>
                <li class="list-group-item bg-dark opacity-50 pt-0"><a href="#" class="link-light">Política de cookies</a></li>
            </ul>
        </div>
        <div class="col text-info opacity-75">
            <ul class="list-group list-group-flush m-0 p-0">
                <li class="list-group-item bg-dark opacity-50 pb-0"><a href="/funciona" class="link-light">Como funciona</a></li>
                <li class="list-group-item bg-dark opacity-50 py-0"><a href="/normas" class="link-light">Normas de uso</a></li>
                <li class="list-group-item bg-dark opacity-50 pt-0"><a href="/preguntas" class="link-light">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="col text-info opacity-75">
            <ul class="list-group list-group-flush m-0 p-0">
                <li class="list-group-item bg-dark opacity-50 py-0"><a href="/contacto" class="link-light">Contáctanos</a></li>
                <li class="list-group-item bg-dark opacity-75 py-0 text-info">&copy;CarPop 2022</li>
            </ul>
        </div>
    </div>
</footer>